@using EstiloMB.Core;
@using EstiloMB.Site;
@using EstiloMB.MVC;
@inject Localization loc
@addTagHelper *, MyWebApp

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EstiloMB</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sistema.css" />
    <link rel="stylesheet" href="~/css/swiper.css" />
    
    
	<script type="text/javascript" src="~/js/fa/all.js"></script>
    <script type="text/javascript" src="~/js/ChartJS/Chart.js"></script>
    <script type="text/javascript" src="~/js/principal.js"></script>
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/Minimum-1.8.js"></script>
    <script src="~/js/swipe.js"></script>
</head>
<body>
    <div class="content-grid">
        <div class="nav-main">
            <div class="search-content">
                <div class="user-sis">
                    <ul>
                        <li>
                            <div class="search-crm">
                                <i class="far fa-search"></i>
                                <span class="las la-search" ></span>
                                <input type="text" placeholder="Digite aqui..."/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="notification">
                <div class="user-sis">
                    <ul>
                        <li class="nameUser">
                            <button class="usuario icon"
                                    aria-expanded="false">
                                <i class="fas fa-bell"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="itens-sis">
                <div class="user-sis">
                    <ul>
                        <li class="nameUser"><span> @User.Identity.Name </span></li>
                        <li>
                            <img src="~/image/IMG_20210905_174558.jpg" preview="image" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidenav">
            <ul class="nav-link">
                <li>
                    <div class="logo">
                        <img  src="~/image/logo-oficial.png" alt=""/>
                    </div>
                </li>
                <li>
                    <a href="~/CRM/Index">
                        <i class="fas fa-th-large"></i>
                        <span class="link_name">Dashbord</span>
                    </a>
                </li>
                <li>
                    <div class="iocn-link">
                        <a>
                            <i class="fas fa-tags"></i>
                            <span class="link_name">Cadastros</span>
                        </a>
                        <i class="fas fa-chevron-down arrow" onclick="arrow(this)"></i>
                    </div>
                    <ul class="sub-menu">
                        <li>
                            <a href="~/CRM/Produtos"><span>Produto</span></a>
                            <a href="~/CRM/Categoria"><span>Categoria</span></a>
                            <a href="~/CRM/Cor"><span>Cor</span></a>
                            <a href="~/CRM/Index">Cupom</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="~/Estoque/Produto">
                        <i class="fas fa-layer-group"></i>
                        <span class="link_name">Estoque</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fas fa-coins"></i>
                        <span class="link_name">Financeiro</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fas fa-cog"></i>
                        <span class="link_name">Administração</span>
                    </a>
                </li>
            </ul>
        </div>
        <main role="main" class="pb-3">
                @RenderBody()
        </main>
        <div id="ui-messages">
            <template>
                <div class="ui-message" onclick="this.className += ' closing'">
                    <i class="fas fa-check-circle icon-success"></i>
                    <i class="fas fa-times-circle icon-error"></i>
                    <i class="fas fa-exclamation-triangle icon-alert"></i>

                    <div class="ui-text" ui-content="text"></div>
                </div>
            </template>
        </div>
        <template id="ui-popup">
            <div class="ui-popup pulse-center">

                <div class="left-bar">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>

                <div class="title" ui-content="title">@loc["Confirmação"]</div>
                <div class="text" ui-content="text"></div>

                <div class="bottom-bar">
                    <button class="confirm" ui-action="confirm">
                        <span><i class="far fa-check"></i></span>
                        @loc["Confirmar"]
                    </button>

                    <button class="cancel" ui-action="cancel">
                        <span><i class="far fa-times"></i></span>
                        @loc["Cancelar"]
                    </button>
                </div>
            </div>
        </template>
    </div>
</body>
</html>
<script>
    function expanding(element) {

        if(element.ariaExpanded == 'false') {
            element.closest('li').querySelector('.login-content').classList.remove('hidden');
            element.ariaExpanded = 'true';

        }else {
            element.closest('li').querySelector('.login-content').classList.add('hidden');
            element.ariaExpanded = 'false';
        }
    }

    function arrow(element) {
        
        let arrowParent = element.parentElement.parentElement;
        arrowParent.classList.toggle("showMenu");
        console.log(arrowParent)
    }
</script>
